h1{
    font-size: xx-large;
    color: blue;
}
body{
   
    text-align: center;
    width: 300px;
    height: 250px;
    border: 1px solid rgb(27, 27, 188);
}
li{
    color: blueviolet;
    text-align: left;
}
